<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="menu">


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="/assets/img/logoFondoBlanco.svg " width="26px" height="26px" />
                </a>

            </li>
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']"> salir</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)">
        </form>
    </div>
</nav>

<div class="container-fluid">

    <div class="row">

        <div class="col-md-3 animated fadeIn fast info" id="divInfo" *ngIf="hayDatos">
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="material-icons mr-2 .opacity-1">
                            description
                            </span> Detalle Viaje
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <div class="row">
                        <div class="col-1">
                            <img src="../../../assets/img/Origen.png">
                        </div>
                        <div class="col">
                            <p> <strong> Origen : </strong> {{ruta.direccionInicio.texto}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <img src="../../../assets/img/Destino.png">
                        </div>
                        <div class="col">
                            <p> <strong> Destino : </strong> {{ruta.direccionFin.texto}}</p>
                        </div>
                    </div>
                    <strong>Tiempo estimado de viaje: </strong>
                    <p>{{ruta.duracion.texto}}</p>
                    <strong>Precio: </strong>
                    <p>${{ tarifa }}</p>
                    <strong *ngIf="esperandoConfirmacion">Estado del viaje: </strong>
                    <p *ngIf="esperandoConfirmacion">{{ resultadoSolicitud }}</p>
                    <button mat-raised-button color="warn" (click)="solicitarViaje()" *ngIf="estadoSolicitud">Solicitar</button>
                </mat-expansion-panel>

                <mat-expansion-panel *ngIf="mostrarChat">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="material-icons mr-2">
                            question_answer
                            </span> Chat
                        </mat-panel-title>

                    </mat-expansion-panel-header>

                    <app-chat [idViaje]="idViaje" [user_id]="user_id"></app-chat>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-md-3 info" *ngIf="mostrarError">
            <div class="d-flex justify-content-center">
                <div>
                    <span class="material-icons mp-2">
            error_outline
            </span>
                </div>

                <p>{{mensajeError}}</p>
            </div>


        </div>
        <div class="col mapa" id="divMap">
            <agm-map (mapClick)="clickMapa($event)" [latitude]="lat" [longitude]="lng" [zoom]="15">

                <agm-marker (ngOnChanges)="cambiandoBusqueda($event)" *ngIf="busqueda" (markerClick)="busquedaclick($event)" name="busqueda" [latitude]="puntoBusqueda.lat" [longitude]="puntoBusqueda.lng">
                    <agm-info-window></agm-info-window>
                </agm-marker>
                <agm-marker [iconUrl]="URL_A" *ngIf="existeOrigen()" name="origen" (dragEnd)="cambiandoPosicionOrigen($event)" [markerDraggable]="true" [latitude]="origen.lat" [longitude]="origen.lng">
                    <agm-info-window>
                        <div>
                            <div class="">
                                <strong class="font-weight-bold"> Origen</strong>
                            </div>
                            <div class=""><button (click)="borrarMarcadorOri()" mat-raised-button color="warn"><span class="material-icons">
                              delete
                              </span></button></div>

                        </div>
                    </agm-info-window>
                </agm-marker>
                <agm-marker [iconUrl]="URL_B" *ngIf="existeDestino()" name="destino" (dragEnd)="cambiandoPosicionDestino($event)" [markerDraggable]="true" [latitude]="destino.lat" [longitude]="destino.lng">
                    <agm-info-window>
                        <div>
                            <div class="">
                                <strong class="font-weight-bold "> Destino</strong>
                            </div>
                            <button (click)="borrarMarcadorDes()" mat-raised-button color="warn"><span class="material-icons">
                              delete
                              </span></button>
                        </div>
                    </agm-info-window>
                </agm-marker>

                <agm-direction (ngModelChange)="lado = $event" [renderOptions]="renderOptions" [markerOptions]="markerOptions" (originDrag)="getcoords('direction',$event)" (status)="getStatus($event)" *ngIf="calcularRuta()" (onChange)="onChange($event)" [travelMode]="travelMode"
                    [origin]="origen" [destination]="destino">

                </agm-direction>


            </agm-map>

        </div>

    </div>
</div>
