<div class=" body">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <div class="card-title"></div>
                    <div class="d-flex justify-content-center mb-3"> <img class=" d-flex justify-content-center" src="../../../assets/img/logoFondoBlanco.svg" alt="" width="65px" height="65px">
                    </div>


                    <h5 class="text-center">SafeTaxi</h5>
                    <form class="form-signin">
                        <div class="form-group">
                            <label for="inputEmail">Correo electrónico:</label>
                            <input type="email" id="inputEmail" class="form-control" required autofocus>

                        </div>

                        <div class="form-group">
                            <label for="inputPassword">Contraseña:</label>
                            <input type="password" id="inputPassword" class="form-control" required>

                        </div>

                        <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Recordar contraseña</label>
                        </div>
                        <a [routerLink]="['/iniciar']" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Iniciar</a>
                        <a [routerLink]="['/registrarse']" class="btn btn-lg btn-google btn-block text-uppercase">Registrarse</a>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>